<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <!-- name is defined in the _config.yml file -->
        <span class="d-block d-lg-none">{{ site.resume_firstname }}{{ site.resume_lastname }}</span>
        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="images/avatar.jpg" alt="my photo">
        </span>
        {% endif %}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          {% if site.resume_section_experience %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          {% endif %}
          {% if site.resume_section_education %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
          {% endif %}
          {% if site.resume_section_research %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#research">Research</a>
          </li>
          {% endif %}
          {% if site.resume_section_publications %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#publications">Publications</a>
          </li>
          {% endif %}
          {% if site.resume_section_software %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#software">Software</a>
          </li>
          {% endif %}
          {% if site.resume_section_students %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#students">Students</a>
          </li>
          {% endif %}
          {% if site.resume_section_teaching %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#teaching">Teaching</a>
          </li>
          {% endif %}
          {% if site.resume_section_projects %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
          </li>
          {% endif %}
          {% if site.resume_section_community %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#community">Community</a>
          </li>
          {% endif %}
          {% if site.resume_section_links %} 
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#links">Links</a>
          </li>
          {% endif %}
          {% if site.resume_social_links.resume_cv_url %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ site.resume_social_links.resume_cv_url }}">CV</a>
          </li>
          {% endif %}  
        </ul>
      </div>
    </nav>


    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">{{ site.resume_firstname }}
            <span class="text-primary">{{ site.resume_lastname }}</span>
          </h1>
          <div class="subheading mb-5">{{ site.resume_contact_address }} · {{ site.resume_contact_telephone }} · {{ site.resume_contact_mobile }} · 
            <a href="mailto:name@email.com">{{ site.resume_contact_emaila }}</a>
          </div>
          <p class="lead mb-5">{{ site.resume_header_introfull | markdownify }}</p>
          <div class="social-icons">
            {% if site.resume_social_links.resume_cv_url %}
            <a href="{{ site.resume_social_links.resume_cv_url }}">
                <i class="fab fa-cv"></i>
              </a>   
              {% endif %}                
            {% if site.resume_social_links.resume_gitlab_url %}
            <a href="{{ site.resume_social_links.resume_gitlab_url }}">
              <i class="fab fa-gitlab"></i>
            </a>   
            {% endif %}
            {% if site.resume_social_links.resume_github_url %}
            <a href="{{ site.resume_social_links.resume_github_url }}">
              <i class="fab fa-github"></i>
            </a>   
            {% endif %}
            {% if site.resume_social_links.resume_linkedin_url %}
            <a href="{{ site.resume_social_links.resume_linkedin_url }}">
              <i class="fab fa-linkedin-in"></i>
            </a>
            {% endif %}          
            {% if site.resume_social_links.resume_twitter_url %}
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            {% endif %}
            {% if site.resume_social_links.resume_facebook_url %}
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            {% endif %}
          </div>
        </div>
      </section>

    </div>


     <!-- Bootstrap core JavaScript -->
     <script src="vendor/jquery/jquery.min.js"></script>
     <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

     <!-- Plugin JavaScript -->
     <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

     <!-- Custom scripts for this template -->
     <script src="js/resume.min.js"></script>

  </body>

</html>


